<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ static_url }}css/admin.css"/>

    <title>Reflex Streaming Helper - Admin Panel</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0"></script>
</head>
<body>
    <div id="app">
        <div id="auth-form" class="content-island" v-if="!authenticated">
            <h1>Authentication</h1>

            <div class="content">
                <div style="margin: auto;">
                    Username: <input name="basic_auth_username" type="text" size="20" v-model="basicAuthUsername"/>
                    Password: <input name="basic_auth_password" type="password" size="20" v-model="basicAuthPassword"/>
                    <button v-on:click="login" style="margin-left: 4px;">Login</button>
                </div>
            </div>
        </div>

        <div v-if="authenticated">
            <div class="content-island">
                <h1>Tournament</h1>

                <div class="content">
                    <div>
                        Tournament Name: <input name="tournament_name" type="text" size="40" v-model="tournamentTitle"/>
                    </div>

                    <div class="space-above" style="display: flex; flex-direction: row; justify-content: space-evenly;">
                        <div style="margin: 4px;">
                            <h2>Players</h2>
                            <div>
                                <ul>
                                    <li v-for="player in tournamentPlayers">{% raw %}{{ player }}{% endraw %} <a v-on:click="deleteTournamentPlayer(player)" style="cursor: pointer;" title="Remove from tournament">❌</a></li>
                                </ul>
                                <select v-model="selectedPlayer">
                                    <option v-for="player in players" v-bind:value="player.name">{% raw %}{{ player.name }}{% endraw %}</option>
                                </select>
                                <button v-on:click="postTournamentPlayer" style="margin-left: 4px;">Add</button>
                            </div>
                        </div>

                        <div style="margin: 4px;">
                            <h2>Map Pool</h2>
                            <div>
                                <ul>
                                    <li v-for="map in tournamentMaps">{% raw %}{{ map }}{% endraw %} <a v-on:click="deleteTournamentMap(map)" style="cursor: pointer;" title="Remove from tournament">❌</a></li>
                                </ul>
                                <select v-model="selectedMap">
                                    <option v-for="map in maps" v-bind:value="map.name">{% raw %}{{ map.name }}{% endraw %}</option>
                                </select>
                                <button v-on:click="postTournamentMap" style="margin-left: 4px;">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-island">
                <h1>Current Match</h1>

                <div class="content">
                    <div>
                        Best of:
                        <select v-model.number="currentMatchBestOf">
                            <option>1</option>
                            <option>3</option>
                            <option>5</option>
                            <option>7</option>
                        </select>
                    </div>

                    <div class="space-above" style="display: flex; flex-direction: row; align-items: center; justify-content: space-evenly;">
                        <div>
                            <h2>Team 1</h2>
                            <select class="space-left" v-model="currentMatchPlayer1">
                                <option v-for="player in tournamentPlayers">{% raw %}{{ player }}{% endraw %}</option>
                            </select>
                            <div class="space-above space-left">
                                Score: <input type="number" size="3" v-model.number="currentMatchTeam1Score"/>
                            </div>
                        </div>

                        <div style="margin: 8px;">vs</div>

                        <div>
                            <h2>Team 2</h2>
                            <select class="space-left" v-model="currentMatchPlayer2">
                                <option v-for="player in tournamentPlayers">{% raw %}{{ player }}{% endraw %}</option>
                            </select>
                            <div class="space-above space-left">
                                Score: <input type="number" size="3" v-model.number="currentMatchTeam2Score"/>
                            </div>
                        </div>
                    </div>

                    <div class="space-above">
                        Match Title: <input name="match_title" type="text" size="40" v-model="currentMatchTitle"/>
                    </div>

                    <div class="space-above">
                        Winner:
                        <select class="space-left" v-model="currentMatchWinner">
                            <option v-for="player in tournamentPlayers">{% raw %}{{ player }}{% endraw %}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        </div>
    <script src="{{ static_url }}js/admin.js"></script>
</body>
</html>
