<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ static_url }}css/main.css"/>
    <script src="{{ static_url }}js/main.js"></script>
</head>
<body>
                <div class="WinnerInfo">WINNER</div>
                <div class="WinnerName">{{ winner }}</div>
    <audio autoplay>
        <source src="{{ static_url }}sounds/boom.ogg" type="audio/ogg">
    </audio>
</body>
</html>
