<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ static_url }}css/main.css"/>
    <script src="{{ static_url }}js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        var thumbnailElements;
        var lastShownThumbnailIndex = -1;

        function showNextThumbnail() {
            if (thumbnailElements.length === 0)
                return;

            var newThumbnailIndex;

            newThumbnailIndex = lastShownThumbnailIndex + 1;
            if (newThumbnailIndex > thumbnailElements.length - 1) {
                newThumbnailIndex = 0;
            }

            if (lastShownThumbnailIndex !== -1) {
                $(thumbnailElements[lastShownThumbnailIndex]).fadeOut("slow", function () {
                    $(thumbnailElements[newThumbnailIndex]).fadeIn("slow");
                });
                //thumbnailElements[lastShownThumbnailIndex].style.display = "none";
            }
            else {
                $(thumbnailElements[newThumbnailIndex]).fadeIn("slow");
            }

            //thumbnailElements[newThumbnailIndex].style.display = "inline";

            lastShownThumbnailIndex = newThumbnailIndex;

            setTimeout(showNextThumbnail, 3500);
        }

        window.onload = function() {
            thumbnailElements = document.querySelectorAll(".MapThumbnail");

            showNextThumbnail();
        };
    </script>
</head>
<body style="background-color: rgba(0, 0, 0, 0.5);">
<div id="Content">
    <div class="SingleInfo">
        <h1 style="text-align: center">
            {{ name }} <span class="Creator">by {{ creator }}</span>
        </h1>
        <table cellpadding="0" cellspacing="0" style="width: 100%">
            <tr>
                <td style="width: 50%; text-align: center;" valign="middle">
                        {% for thumbnail_image in thumbnail_images -%}
                            <img src="{{ static_url }}images/map_thumbnails/{{ thumbnail_image }}" class="MapThumbnail" style="width: 90%; border: 1px solid #bcbcbc;" />
                        {%- endfor %}
                </td>
                <td style="width: 16.7%; text-align: center;">
                    <table cellspacing="20" cellpadding="0" style="display: inline-table">
                        <tr>
                            <td class="ItemIcon">
                                <img src="{{ static_url }}images/items/RedArmorSmall.png" style="height: 40px; vertical-align: middle;" />
                            </td>
                            <td class="ItemCount">
                                x{{ red_armor_count }}
                            </td>
                        </tr>
                        <tr>
                            <td class="ItemIcon">
                                <img src="{{ static_url }}images/items/MegaHealthSmall.png" style="height: 40px; vertical-align: middle;" />
                            </td>
                            <td class="ItemCount">
                                x{{ mega_health_count }}
                            </td>
                        </tr>
                        <tr>
                            <td class="ItemIcon">
                                <img src="{{ static_url }}images/items/YellowArmorSmall.png" style="height: 40px; vertical-align: middle;" />
                            </td>
                            <td class="ItemCount">
                                x{{ yellow_armor_count }}
                            </td>
                        </tr>
                        <tr>
                            <td class="ItemIcon">
                                <img src="{{ static_url }}images/items/GreenArmorSmall.png" style="height: 40px; vertical-align: middle;" />
                            </td>
                            <td class="ItemCount">
                                x{{ green_armor_count }}
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="width: 16.7%; text-align: center;">
                    <table cellspacing="20" cellpadding="0" style="display: inline-table">
                        <tr>
                            <td class="ItemIcon">
                                <img src="{{ static_url }}images/items/BoltRifleSmall.png" style="height: 40px; vertical-align: middle;" />
                            </td>
                            <td class="ItemCount">
                                x{{ bolt_rifle_count }}
                            </td>
                        </tr>
                        <tr>
                            <td class="ItemIcon">
                                <img src="{{ static_url }}images/items/IonCannonSmall.png" style="height: 40px; vertical-align: middle;" />
                            </td>
                            <td class="ItemCount">
                                x{{ ion_cannon_count }}
                            </td>
                        </tr>
                        <tr>
                            <td class="ItemIcon">
                                <img src="{{ static_url }}images/items/RocketLauncherSmall.png" style="height: 40px; vertical-align: middle;" />
                            </td>
                            <td class="ItemCount">
                                x{{ rocket_launcher_count }}
                            </td>
                        </tr>
                        <tr>
                            <td class="ItemIcon">
                                <img src="{{ static_url }}images/items/PlasmaGunSmall.png" style="height: 40px; vertical-align: middle;" />
                            </td>
                            <td class="ItemCount">
                                x{{ plasma_gun_count }}
                            </td>
                        </tr>
                        <tr>
                            <td class="ItemIcon">
                                <img src="{{ static_url }}images/items/GrenadeLauncherSmall.png" style="height: 40px; vertical-align: middle;" />
                            </td>
                            <td class="ItemCount">
                                x{{ grenade_launcher_count }}
                            </td>
                        </tr>
                        <tr>
                            <td class="ItemIcon">
                                <img src="{{ static_url }}images/items/ShotgunSmall.png" style="height: 40px; vertical-align: middle;" />
                            </td>
                            <td class="ItemCount">
                                x{{ shotgun_count }}
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="width: 16.7%; text-align: center;">
                    <table cellspacing="20" cellpadding="0" style="display: inline-table">
                        <tr>
                            <td class="ItemIcon">
                                50hp
                            </td>
                            <td class="ItemCount">
                                x{{ hp50_count }}
                            </td>
                        </tr>
                        <tr>
                            <td class="ItemIcon">
                                25hp
                            </td>
                            <td class="ItemCount">
                                x{{ hp25_count }}
                            </td>
                        </tr>
                        <tr>
                            <td class="ItemIcon">
                                5hp
                            </td>
                            <td class="ItemCount">
                                x{{ hp5_count }}
                            </td>
                        </tr>
                        <tr>
                            <td class="ItemIcon">
                                Shards
                            </td>
                            <td class="ItemCount">
                                x{{ shard_count }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div id="MatchInfo">
        <table cellspacing="0" cellpadding="0"
               style="width: 100%; padding: 10px; padding-left: 30px; padding-right: 30px;">
            <tr>
                <td style="text-align: left;">
                    {% if tournament_title is defined %}
                        {{ tournament_title }}
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
    <div id="Sponsors">
        <img src="{{ static_url }}images/ReflexArenaLogoWhiteMedium.png"/>
    </div>
</div>
</body>
</html>
