<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ static_url }}css/main.css"/>
    <script src="{{ static_url }}js/main.js"></script>
    {% if not match_started and date is defined %}
        <script type="text/javascript">
            function updateDateCountDown() {
                var countDownDate = new Date("{{ date }}").getTime();
                var now = new Date().getTime();

                var distance = countDownDate - now;

                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                var text = "";

                if (days > 0)
                {
                    text += days.toString() + " day";

                    if (days !== 1)
                        text += "s";
                }

                if (days > 0 || hours > 0)
                {
                    if (text !== "")
                        text += " ";

                    text += hours.toString() + " hour";

                    if (hours !== 1)
                        text += "s";
                }

                if (days > 0 || hours > 0 || minutes > 0)
                {
                    if (text !== "")
                        text += " ";

                    text += minutes.toString() + " minute";

                    if (minutes !== 1)
                        text += "s";
                }

                if (text !== "")
                    text += " ";

                text += seconds.toString() + " second";

                if (seconds !== 1)
                    text += "s";

                document.getElementById("DateCountdown").innerHTML = "Match will start in " + text;
                document.getElementById("DateCountdown").className = "";

                if (distance < 0) {
                    if (countdownTimer)
                    {
                        clearInterval(countdownTimer);
                    }
                    document.getElementById("DateCountdown").innerHTML = "Match will start very soon";
                    document.getElementById("DateCountdown").className = "Blink";
                }
            }

            var countdownTimer = setInterval(updateDateCountDown, 1000);

            window.onload = function() {
                updateDateCountDown();
            };
        </script>
    {% elif not match_started and date is not defined %}
        <script type="text/javascript">
            window.onload = function() {
                document.getElementById("DateCountdown").innerHTML = "Match will start very soon";
            };
        </script>
    {% endif %}

    <script type="text/javascript">
        function refreshInformation() {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function() {
                if (xmlHttp.readyState === 4 && xmlHttp.status === 200) {
                    var currentMatchJson = JSON.parse(this.responseText);

                    var team1ScoreElement = document.getElementById('team-1-score');
                    if (team1ScoreElement) {
                      team1ScoreElement.innerText = currentMatchJson.team_1_score;
                    }

                    var team2ScoreElement = document.getElementById('team-2-score');
                    if (team2ScoreElement) {
                      team2ScoreElement.innerText = currentMatchJson.team_2_score;
                    }
                }
            };

            xmlHttp.open("GET", '/current-match-score', true);
            xmlHttp.send(null);
        }

        setInterval(refreshInformation, 2000);
    </script>
</head>
<body>
    <div id="LeftOverlayContainer" class="OverlayContainer">
        {% if tournament_title is defined %}
            <div class="OverlayPlayerInfo">
                {{ tournament_title }}
            </div><br/>
        {% endif %}
        {% if not match_started %}
            <div class="OverlayPlayerInfo">
                <span id="DateCountdown" class="Blink"></span>
            </div><br/>
        {% elif best_of > 0 and title is defined and title != '' %}
            <div class="OverlayPlayerInfo">
                {{ title }} (Best of {{ best_of }})
            </div><br/>
        {% elif best_of > 0 %}
            <div class="OverlayPlayerInfo">
                Best of {{ best_of }}
            </div><br/>
        {% endif %}
        <table cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    {% if team_1_players|length > 0 %}
                        <div class="OverlayPlayerInfo" style="display: block;">
                            <img src="{{ static_url }}images/flags/32/{{ team_1_players[0].country|replace(" ", " ") }}.png"
                                 style="height: 25px; vertical-align: middle"/> {{ team_1_players[0].name }}

                            {% if team_1_score is defined %}
                                <div id="team-1-score" class="OverlayScore" style="float: right;">{{ team_1_score }}</div>
                            {% endif %}
                        </div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    {% if team_2_players|length > 0 %}
                        <div class="OverlayPlayerInfo" style="display: block;">
                            <img src="{{ static_url }}images/flags/32/{{ team_2_players[0].country|replace(" ", " ") }}.png"
                                 style="height: 25px; vertical-align: middle"/> {{ team_2_players[0].name }}
                            {% if team_2_score is defined %}
                                <div id="team-2-score" class="OverlayScore" style="float: right;">{{ team_2_score }}</div>
                            {% endif %}
                        </div>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
    <div id="RightOverlayContainer" class="OverlayContainer">
    </div>
</body>
</html>
