<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ static_url }}css/main.css"/>
    <script src="{{ static_url }}js/main.js"></script>
    {% if not match_started and date is defined %}
        <script type="text/javascript">
            function updateDateCountDown() {
                var countDownDate = new Date("{{ date }}").getTime();
                var now = new Date().getTime();

                var distance = countDownDate - now;

                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                var text = "";

                if (days > 0)
                {
                    text += days.toString() + " day";

                    if (days !== 1)
                        text += "s";
                }

                if (days > 0 || hours > 0)
                {
                    if (text !== "")
                        text += " ";

                    text += hours.toString() + " hour";

                    if (hours !== 1)
                        text += "s";
                }

                if (days > 0 || hours > 0 || minutes > 0)
                {
                    if (text !== "")
                        text += " ";

                    text += minutes.toString() + " minute";

                    if (minutes !== 1)
                        text += "s";
                }

                if (text !== "")
                    text += " ";

                text += seconds.toString() + " second";

                if (seconds !== 1)
                    text += "s";

                document.getElementById("DateCountdown").innerHTML = "Match will start in " + text;
                document.getElementById("DateCountdown").className = "";

                if (distance < 0) {
                    if (countdownTimer)
                    {
                        clearInterval(countdownTimer);
                    }
                    document.getElementById("DateCountdown").innerHTML = "Match will start very soon";
                    document.getElementById("DateCountdown").className = "Blink";
                }
            }

            var countdownTimer = setInterval(updateDateCountDown, 1000);

            window.onload = function() {
                updateDateCountDown();
            };
        </script>
    {% elif not match_started and date is not defined %}
        <script type="text/javascript">
            window.onload = function() {
                document.getElementById("DateCountdown").innerHTML = "Match will start very soon";
            };
        </script>
    {% endif %}
    <script type="text/javascript">
        function refreshInformation() {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function() {
                if (xmlHttp.readyState === 4 && xmlHttp.status === 200) {
                    var currentMatchJson = JSON.parse(this.responseText);

                    var team1ScoreElement = document.getElementById('team-1-score');
                    if (team1ScoreElement) {
                      team1ScoreElement.innerText = currentMatchJson.team_1_score;
                    }

                    var team2ScoreElement = document.getElementById('team-2-score');
                    if (team2ScoreElement) {
                      team2ScoreElement.innerText = currentMatchJson.team_2_score;
                    }

                    /*var bestOfElement = document.getElementById('best-of');
                    if (bestOfElement) {
                      bestOfElement.innerText = currentMatchJson.best_of;
                    }

                    var player1NameElement = document.getElementById('player-1-name');
                    if (player1NameElement) {
                      player1NameElement.innerText = currentMatchJson.team_1_players[0];
                    }

                    var player2NameElement = document.getElementById('player-2-name');
                    if (player2NameElement) {
                      player2NameElement.innerText = currentMatchJson.team_2_players[0];
                    }*/
                }
            };

            xmlHttp.open("GET", '/current-match-score', true);
            xmlHttp.send(null);
        }

        setInterval(refreshInformation, 2000);
    </script>
</head>
<body style="background-color: rgba(0, 0, 0, 0.5);">
<div id="Content">
    {% if team_1_players|length > 0 %}
    <div class="PlayerInfo Player1Info">
        <h1 style="text-align: center">
            <img src="{{ static_url }}images/flags/48/{{ team_1_players[0].country|replace(" ", " ") }}.png"
                 style="height: 42px; vertical-align: middle"/> <span id="player-1-name">{{ team_1_players[0].name }}</span>

            {% if team_1_score is defined %}
                <div id="team-1-score" class="Score" style="float: right;">{{ team_1_score }}</div>
            {% endif %}
        </h1>
        <table cellspacing="20" cellpadding="0" style="width: 100%; margin: 10px;">
            {% if team_1_players[0].rank %}
                <tr>
                    <td class="TableInfoLabel">1v1 Rank</td>
                    <td class="TableInfo"><img src="{{ static_url }}images/ranks/{{ team_1_players[0].rank }}Medium.png"
                                               style="height: 25px; vertical-align: text-bottom"/> {{ team_1_players[0].rank }}
                    </td>
                </tr>
            {% endif %}
            {% if team_1_players[0].mmr and team_1_players[0].best_mmr %}
                <tr>
                    <td class="TableInfoLabel">MMR</td>
                    <td class="TableInfo">{{ team_1_players[0].mmr }} (Best: {{ team_1_players[0].best_mmr }})</td>
                </tr>
            {% endif %}
            {% if team_1_players[0].arena %}
                <tr>
                    <td class="TableInfoLabel">Arena</td>
                    <td class="TableInfo">{{ team_1_players[0].arena }}</td>
                </tr>
            {% endif %}
            {% if team_1_players[0].mouse %}
                <tr>
                    <td class="TableInfoLabel">Mouse</td>
                    <td class="TableInfo">{{ team_1_players[0].mouse }}</td>
                </tr>
            {% endif %}
            {% if team_1_players[0].keyboard %}
                <tr>
                    <td class="TableInfoLabel">Keyboard</td>
                    <td class="TableInfo">{{ team_1_players[0].keyboard }}</td>
                </tr>
            {% endif %}
            {% if team_1_players[0].monitor %}
                <tr>
                    <td class="TableInfoLabel">Monitor</td>
                    <td class="TableInfo">{{ team_1_players[0].monitor }}</td>
                </tr>
            {% endif %}
            {% if team_1_players[0].twitch %}
                <tr>
                    <td class="TableInfo" colspan="2" style="padding-top: 30px; text-align: center"><img src="{{ static_url }}images/TwitchWhiteFill.png" style="height: 25px; vertical-align: text-bottom"/>
                        twitch.tv/{{ team_1_players[0].twitch }}</td>
                </tr>
            {% endif %}
            {% if team_1_players[0].twitter %}
                <tr>
                    <td class="TableInfo" colspan="2" style="text-align: center"><img src="{{ static_url }}images/TwitterSmall.png"
                                                                                      style="height: 25px; vertical-align: text-bottom"/>
                        twitter.com/{{ team_1_players[0].twitter }}</td>
                </tr>
            {% endif %}
            {% if team_1_players[0].discord %}
                <tr>
                    <td class="TableInfo" colspan="2" style="text-align: center"><img src="{{ static_url }}images/DiscordSmall.png"
                                                                                      style="height: 25px; vertical-align: text-bottom"/>
                        discord.gg/{{ team_1_players[0].discord }}</td>
                </tr>
            {% endif %}
        </table>
    </div>
    {% endif %}
    {% if team_2_players|length > 0 %}
    <div class="PlayerInfo Player2Info">
        <h1 style="text-align: center">
            <img src="{{ static_url }}images/flags/48/{{ team_2_players[0].country|replace(" ", " ") }}.png"
                 style="height: 42px; vertical-align: middle"/> <span id="player-2-name">{{ team_2_players[0].name }}</span>
            {% if team_2_score is defined %}
                <div id="team-2-score" class="Score" style="float: left;">{{ team_2_score }}</div>
            {% endif %}
        </h1>
        <table cellspacing="20" cellpadding="0" style="width: 100%; margin: 10px;">
            {% if team_2_players[0].rank %}
                <tr>
                    <td class="TableInfoLabel">1v1 Rank</td>
                    <td class="TableInfo"><img src="{{ static_url }}images/ranks/{{ team_2_players[0].rank }}Medium.png"
                                               style="height: 25px; vertical-align: text-bottom"/> {{ team_2_players[0].rank }}
                    </td>
                </tr>
            {% endif %}
            {% if team_2_players[0].mmr and team_2_players[0].best_mmr %}
                <tr>
                    <td class="TableInfoLabel">MMR</td>
                    <td class="TableInfo">{{ team_2_players[0].mmr }} (Best: {{ team_2_players[0].best_mmr }})</td>
                </tr>
            {% endif %}
            {% if team_2_players[0].arena %}
                <tr>
                    <td class="TableInfoLabel">Arena</td>
                    <td class="TableInfo">{{ team_2_players[0].arena }}</td>
                </tr>
            {% endif %}
            {% if team_2_players[0].mouse %}
                <tr>
                    <td class="TableInfoLabel">Mouse</td>
                    <td class="TableInfo">{{ team_2_players[0].mouse }}</td>
                </tr>
            {% endif %}
            {% if team_2_players[0].keyboard %}
                <tr>
                    <td class="TableInfoLabel">Keyboard</td>
                    <td class="TableInfo">{{ team_2_players[0].keyboard }}</td>
                </tr>
            {% endif %}
            {% if team_2_players[0].monitor %}
                <tr>
                    <td class="TableInfoLabel">Monitor</td>
                    <td class="TableInfo">{{ team_2_players[0].monitor }}</td>
                </tr>
            {% endif %}
            {% if team_2_players[0].twitch %}
                <tr>
                    <td class="TableInfo" colspan="2" style="padding-top: 30px; text-align: center"><img
                            src="{{ static_url }}images/TwitchWhiteFill.png" style="height: 25px; vertical-align: text-bottom"/>
                        twitch.tv/{{ team_2_players[0].twitch }}</td>
                </tr>
            {% endif %}
            {% if team_2_players[0].twitter %}
                <tr>
                    <td class="TableInfo" colspan="2" style="text-align: center"><img src="{{ static_url }}images/TwitterSmall.png"
                                                                                      style="height: 25px; vertical-align: text-bottom"/>
                        twitter.com/{{ team_2_players[0].twitter }}</td>
                </tr>
            {% endif %}
            {% if team_2_players[0].discord %}
                <tr>
                    <td class="TableInfo" colspan="2" style="text-align: center"><img src="{{ static_url }}images/DiscordSmall.png"
                                                                                      style="height: 25px; vertical-align: text-bottom"/>
                        discord.gg/{{ team_2_players[0].discord }}</td>
                </tr>
            {% endif %}
        </table>
    </div>
    {% endif %}
    <div id="vs">
        VS
    </div>
    <div id="MatchInfo">
        <table cellspacing="0" cellpadding="0"
               style="width: 100%; padding: 10px; padding-left: 30px; padding-right: 30px;">
            <tr>
                <td style="text-align: left;">
                    {% if tournament_title is defined %}
                        {{ tournament_title }}
                    {% endif %}
                </td>
                <td style="text-align: right;">
                    {% if not match_started %}
                        <span id="DateCountdown" class="Blink"></span>
                    {% elif best_of > 0 %}
                        Best of <span id="best-of">{{ best_of }}</span>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
    <div id="Sponsors">
        <img src="{{ static_url }}images/ReflexArenaLogoWhiteMedium.png"/>
    </div>
</div>
</body>
</html>
