<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ static_url }}css/main.css"/>
    <script src="{{ static_url }}js/main.js"></script>
</head>
<body style="background-color: black">
    <table cellpadding="0" cellspacing="0" style="width: 100%; height: 100%;">
        <tr>
            <td valign="middle" style="text-align: center">
                <div style="perspective: 1000px;">
                    <img src="{{ static_url }}images/ReflexArenaLogoWhite.png" id="IntroLogo" />
                </div>
            </td>
        </tr>
    </table>
    <div class="OutroText">SEE YOU NEXT TIME!</div>
</body>
</html>
