<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ static_url }}css/main.css"/>
    <script src="{{ static_url }}js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        var playerNameElements;
        var mapNameElements;
        var lastShownPlayerNameIndex = -1;
        var lastShownMapNameIndex = -1;

        function showNextPlayerName() {
            if (lastShownPlayerNameIndex >= 0) {
                playerNameElements[lastShownPlayerNameIndex].style.display = "none";
            }

            lastShownPlayerNameIndex++;

            if (playerNameElements.length > lastShownPlayerNameIndex) {
                playerNameElements[lastShownPlayerNameIndex].style.display = "block";
            }

            if (playerNameElements.length > lastShownPlayerNameIndex + 1) {
                setTimeout(showNextPlayerName, 300);
            }
            else {
                setTimeout(function () {
                    playerNameElements[lastShownPlayerNameIndex].style.display = "none";
                }, 300);

                //setTimeout(showNextMapName, 800);
            }
        }

        function showNextMapName() {
            if (lastShownMapNameIndex >= 0) {
                mapNameElements[lastShownMapNameIndex].style.display = "none";
            }

            lastShownMapNameIndex++;

            if (mapNameElements.length > lastShownMapNameIndex) {
                mapNameElements[lastShownMapNameIndex].style.display = "block";
            }

            if (mapNameElements.length > lastShownMapNameIndex + 1) {
                setTimeout(showNextMapName, 550);
            }
            else {
                setTimeout(function () {
                    mapNameElements[lastShownMapNameIndex].style.display = "none";
                }, 550);
            }
        }

        window.onload = function() {
            playerNameElements = document.querySelectorAll(".PlayerNameIntro");
            mapNameElements = document.querySelectorAll(".MapNameIntro");

            setTimeout(function () {
                var titleElement = document.getElementById("TournamentTitleIntro");
                titleElement.style.display = "block";
            }, 2000);

            setTimeout(function () {
                var titleElement = document.getElementById("TournamentTitleIntro");
                titleElement.style.display = "none";

                showNextPlayerName();
            }, 7400);
        };
    </script>
</head>
<body>
<table cellpadding="0" cellspacing="0" style="width: 100%; height: 100%;">
    <tr>
        <td valign="middle" style="text-align: center">
            <div id="TournamentTitleIntro" class="TournamentTitleIntro" style="perspective: 1000px;">
                <img src="{{ static_url }}images/ReflexArenaSymbol.png"
                     style="height: 200px; vertical-align: middle; margin-top: -50px; margin-right: -80px;"/>
                {{ title }}
            </div>
            {% for player in players -%}
                <div class="PlayerNameIntro" style="perspective: 1000px;">
                    {{ player }}
                </div>
            {%- endfor %}
            {% for map in maps -%}
                <div class="MapNameIntro" style="perspective: 1000px;">
                    {{ map }}
                </div>
            {%- endfor %}
        </td>
    </tr>
</table>
</body>
</html>
