body {
    margin: 0;
    background-color: #323538;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
}

input, textarea, select, button {
    background-color: #1A1A1A;
    color: #ffffff;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    line-height: 22px;
    outline: none;
    border-style: none;
}

input, textarea, button {
    padding: 4px;
}

input:hover, textarea:hover, select:hover, button:hover,
input:active, textarea:active, select:active, button:active,
input:focus, textarea:focus, select:focus {
    background-color: #202020;
}

button {
    background-color: #B40000;
}

button:hover {
    background-color: #C80000;
}

button:active {
    background-color: #5A1A1A;
}

#app {
    margin: auto;
    width: 96%;
    max-width: 700px;
}

h1 {
    font-size: 40px;
    line-height: 40px;
    margin: 0;
    margin-bottom: 12px;
}

h2 {
    font-size: 26px;
    line-height: 26px;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 8px;
}

.content-island {
    margin: 8px;
    background-color: #1C1D1D;
    padding: 12px;
}

.content-island .content {
    background-color: #282828;
    padding: 8px;
}

.space-above {
    margin-top: 8px;
}

.space-left {
    margin-left: 8px;
}
