html {
    height: 100%;
}

body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
    line-height: 30px;
}

h1 {
    font-size: 50px;
    line-height: 55px;
    text-align: center;
}

h2 {
    font-size: 30px;
    line-height: 35px;
    text-align: center;
}

.TableInfoLabel {
    color: #bcbcbc;
    padding-right: 30px;
}

.TableInfo {
    font-weight: bold;
}

.SingleInfo, .PlayerInfo {
    background-color: rgba(0, 0, 0, 0.9);
    color: #ffffff;
}

.OverlayPlayerInfo {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    margin-top: 8px;
}

.SingleInfo {
    width: calc(100% - 80px);
    height: calc(100% - 80px - 240px);
    top: calc(40px + 120px);
    position: absolute;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    border-style: solid;
    border-width: 0px;
}

.PlayerInfo {
    width: calc(50% - 60px);
    height: calc(100% - 80px - 240px);
    top: calc(40px + 120px);
    position: absolute;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    border-style: solid;
    border-width: 0px;
}

.SingleInfo {
    left: -40%;
    animation-name: SingleInfoIn;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}

@keyframes SingleInfoIn {
    0%   {opacity: 0; left: -20%}
    100% {opacity: 1; left: 40px}
}

.Player1Info {
    left: -40%;
    animation-name: Player1InfoIn;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}

@keyframes Player1InfoIn {
    0%   {opacity: 0; left: -20%}
    100% {opacity: 1; left: 40px}
}

#LeftOverlayContainer {
    bottom: 10px;
    position: absolute;
    animation-name: LeftOverlayContainerIn;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}

#RightOverlayContainer {
    bottom: 10px;
    position: absolute;
    animation-name: RightOverlayContainerIn;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}

.OverlayPlayerInfo {
    padding: 5px;
    font-size: 26px;
    line-height: 28px;
}

@keyframes LeftOverlayContainerIn {
    0%   {opacity: 0; left: -10%}
    100% {opacity: 1; left: 0px}
}

@keyframes RightOverlayContainerIn {
    0%   {opacity: 0; right: -10%}
    100% {opacity: 1; right: 0px}
}

.Player2Info, .Player2InfoBackground {
    right: -40%;
    animation-name: Player2InfoIn;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}

@keyframes Player2InfoIn {
    0%   {opacity: 0; right: -20%}
    100% {opacity: 1; right: 40px}
}

#vs {
    background-color: rgba(100, 0, 0, 0.9);
    position: absolute;
    width: 70px;
    height: 70px;
    top: calc(50% - 45px);
    left: calc(50% - 45px);
    padding: 10px;
    font-size: 50px;
    font-weight: bold;
    line-height: 70px;
    color: #ffde2d;
    text-align: center;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 45px;
    border-style: solid;
    border-width: 0px;
    animation: FadeIn 1s forwards, RotateY 3s linear infinite;
    animation-delay: 0s, 1s;
}

.Score {
    background-color: #d9cf05;
    padding: 10px;
    margin: 20px;
    margin-top: -10px;
    font-size: 65px;
    line-height: 65px;
    font-weight: bold;
    color: #000000;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    border-style: solid;
    border-width: 0px;
}

@keyframes FadeIn {
    0%   {opacity: 0}
    100% {opacity: 1}
}

@keyframes RotateY {
    to { transform: rotateY(360deg); }
}

#Sponsors, #MatchInfo {
    background-color: rgba(0, 0, 0, 0.9);
}

#Sponsors {
    position: absolute;
    text-align: center;
    height: 80px;
    width: calc(100% - 80px);
    left: 40px;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    border-style: solid;
    border-width: 0px;
    opacity: 0;
    animation: SponsorsIn 0.6s forwards;
}

#MatchInfo {
    position: absolute;
    text-align: center;
    height: 80px;
    width: calc(100% - 80px);
    left: 40px;
    color: #ffffff;
    font-size: 30px;
    line-height: 60px;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    border-style: solid;
    border-width: 0px;
    opacity: 0;
    animation: MatchInfoIn 0.6s forwards;
}

#SponsorsBackground, .PlayerInfoBackground
{
    filter: blur(10px);
}

@keyframes SponsorsIn {
    0%   {opacity: 0; bottom: -40px}
    100% {opacity: 1; bottom: 40px}
}

@keyframes MatchInfoIn {
    0%   {opacity: 0; top: -40px}
    100% {opacity: 1; top: 40px}
}

#Sponsors img {
    height: 70px;
    padding: 5px;
    /*animation: Pulse 1s ease infinite;*/
}

@keyframes Pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

.Blink {
    animation: Blink 1.5s infinite;
}

@keyframes Blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

#IntroLogo {
    animation: Intro 30s linear infinite;
    transform-origin: 50% 50%;
}

@keyframes Intro {
  0% { margin-top: 500px; margin-left: 600px; transform: scale(2) rotateY(0deg); opacity: 0; }
  5% { margin-top: 500px; margin-left: 600px; transform: scale(2) rotateY(0deg); opacity: 0; }
  15% { margin-top: 500px; margin-left: 700px; transform: scale(2) rotateY(0deg); opacity: 1; }
  25% { margin-top: 500px; margin-left: 800px; transform: scale(2) rotateY(0deg); opacity: 0; }
  40% { margin-top: -300px; margin-left: -300px; transform: scale(2) rotateY(0deg); opacity: 0; }
  50% { margin-top: -300px; margin-left: -400px; transform: scale(2) rotateY(0deg); opacity: 1; }
  60% { margin-top: -300px; margin-left: -500px; transform: scale(2) rotateY(0deg); opacity: 0; }
  75% { margin-top: 0px; margin-left: 0; transform: scale(0.7) rotateY(-20deg); opacity: 0; }
  85% { margin-top: 0px; margin-left: -80px; transform: scale(0.8) rotateY(-10deg); opacity: 1; }
  95% { margin-top: 0px; margin-left: -160px; transform: scale(0.9) rotateY(0deg); opacity: 0; }
  100% { margin-top: -300px; margin-left: -100px; transform: scale(2) rotateY(10deg); opacity: 0; }
}

.OverlayScore {
    margin-left: 20px;
    font-weight: bold;
}

.TournamentTitleIntro {
    display: none;
    transform: scale(0.8) rotateZ(-5deg);
    color: white;
    font-size: 100px;
    animation: TournamentTitleIntroAni 5s forwards;
    animation-timing-function: cubic-bezier(0,.73,.14,.99);
}

@keyframes TournamentTitleIntroAni {
  0% { transform: scale(1) rotateZ(-5deg); opacity: 0; }
  30% { opacity: 1; }
  80% { opacity: 1; }
  100% { transform: scale(1.6) rotateZ(5deg); opacity: 0; }
}

.Hidden {
    display: none;
}

.PlayerNameIntro {
    color: white;
    display: none;
    font-size: 100px;
}

.MapNameIntro {
    color: white;
    display: none;
    font-size: 100px;
}

.SlideOut {
    animation: SlideOutAni 2s forwards;
}

.SlideIn {
    animation: SlideOutAni 2s forwards;
}

@keyframes SlideOutAni {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes SlideInAni {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.ItemIcon, .ItemCount {
    text-align: center;
}

.Creator {
    font-size: 60%;
    color: goldenrod;
}

.ThumbnailContainer {
    text-align: center;
}

.MapThumbnail {
    display: none;
}

.WinnerInfo, .WinnerName {
    color: white;
    position: absolute;
    height: 80px;
    padding: 10px;
    width: 700px;
    right: -40%;
    top: calc(50% - 50px);
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.WinnerInfo {
    background-color: rgba(218, 165, 32, 0.6);
    animation-name: WinnerInfoIn;
    border-style: solid;
    border-radius: 0 10px 10px 0;
    border-width: 0;
}

.WinnerName {
    background-color: rgba(0, 0, 0, 0.6);
    animation-name: WinnerNameIn;
    border-style: solid;
    border-radius: 10px 0 0 10px;
    border-width: 0;
}

@keyframes WinnerInfoIn {
    0%   {opacity: 0; right: -40%}
    100% {opacity: 1; right: calc(50% - 720px)}
}

@keyframes WinnerNameIn {
    0%   {opacity: 0; left: -40%}
    100% {opacity: 1; left: calc(50% - 720px)}
}

.OutroText {
    background-color: rgba(0, 0, 0, 0.6);
    border-style: solid;
    border-radius: 10px;
    border-width: 0;
    padding: 10px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: white;
    font-size: 80px;
    line-height: 80px;
    z-index: 10;
}
